* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  font-weight: 600;
  font-size: 20px;
  padding: 20px 26px;
  border-radius: 5px;
  background-color: #f15b22;
  color: #ffffff;
  border: none;
}

/* header style */
.header {
  background-image: url("../images/banner/banner2.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-item {
  padding: 200px 200px 150px;
}
.header-title {
  font-weight: 700;
  font-size: 65px;
  color: #151414;
}
.description {
  color: #444343;
  margin-top: 25px;
  margin-bottom: 30px;
  line-height: 28px;
}
.button {
  text-align: right;
}
/* my Failure style */
main {
  max-width: 1140px;
  margin: 0 auto;
}
.myfailures {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 130px 0;
  gap: 80px;
}
.section-title {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
}
.myfailures-list li {
  list-style: none;
}
.myfailures-list li i {
  margin: 8px 0;
  color: #3adb98;
}
/* what to do */
.how-to-do{
  margin-bottom: 130px;
}
.how-to-do .section-title{
  text-align: center;
  margin-bottom: 50px;
}
.how-to-do-description{
  display: flex;
  justify-content: space-around;
  gap: 50px;
}
.how-to-do-description .sub-description img{
  color: #F8F8F8;
  height: 60px;
  width: 60px;
}
.how-to-do-description .section-title{
  text-align: left;
  font-size: 30px;
  margin: 25px 0;
  font-weight: 600;
}
.sub-description{
  padding: 50px 40px;
  background-color: #fbfaea;
  border-radius: 5px;
  box-shadow: 0 6px 60px rgb(233, 233, 233);
  border-left: 1px solid #e6e6e6;
  border-bottom: 1px solid #fbe8e0;
}
.color{
  background-color: #f9eaea;
}
.color2{
  background-color: #e3fbf4;
}

/* My plans style */
.myplans .section-title {
  text-align: center;
  margin-bottom: 50px;
}
.myplan-description {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}
.myplan-description .section-title {
  font-size: 30px;
  margin: 16px 0;
  text-align: center;
}
.myplan-description .myplan-sub-title {
  font-weight: 500;
  font-size: 25px;
  color: #737272;
}
/* call-section style */
.call{
  background-image: url('../images/watch.png'),url('../images/gradient2.png');
  background-blend-mode:multiply;
  padding: 60px 50px;
  margin: 130px 0;
}
.call .section-title{
  color: #ffffff;
  margin-bottom: 20px;
}
.call .btn-primary{
  color: #f15b22;
  background-color: #ffffff;
  border: 1px solid #f15b22;
}
/* footer */
.footer{
  background-color: #151414;
  padding: 130px 200px;
}
.footer-description{
  display: flex;
  justify-content: space-between;
  gap: 205px;
}
.future .section-title{
  font-size: 45px;
  color: #F8F8F8;
}
.future .description{
  color: #FFFFFF;
}
.future .future-icon a{
  text-decoration: none;
  margin-right: 18px;
}
.subscribe .section-title{
  font-size: 25px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 30px;
}
.subscribe input{
  padding: 22px 18px;
  border-radius: 5px;
  width: 80%;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.subscribe .btn-primary{
  margin-top: 15px;
  background-color: #ffffff;
  color: #f15b22;
}