* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  font-weight: 600;
  font-size: 20px;
  padding: 20px 26px;
  border-radius: 5px;
  background-color: transparent;
  background-color:#F15B22;
  color: #ffffff;
  border: none;
}

/* header style */
.header {
  background-image: url("../images/banner/banner2.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-item {
  padding: 200px 200px 150px;
}
.header-title {
  font-weight: 700;
  font-size: 65px;
  color: #151414;
}
.description {
  color: #444343;
  margin-top: 25px;
  margin-bottom: 30px;
  line-height: 30px;
}
.button{
    text-align: right;
}
/* my Failure style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.myfailures{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 130px 0;
    gap: 80px;
}
.section-title{
  color: #151414;
  font-size: 40px;
  font-weight: 700;
}
.myfailures-list li{
  list-style: none;
}
.myfailures-list li i{
  margin: 8px 0;
  color: #3adb98;
}

/* My plans style */